
.card__style {
    flex: 1 0 21%;
    margin: 5px;
    max-height: 10vh;
    border: 1px solid navy;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    /* outline: 5px double #E24272;   */
}

.front {
    background-color: white;
}

.showImage {
    /* display:block */
    visibility: visible;
}

:focus {
    outline: 5px solid #E24272;   
}

.hideImage {
    /* display: none; */
    visibility: hidden;
}