.App {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: .1fr .1fr 1fr .2fr;
  grid-template-areas:
    ". title ."
    ". info ."
    "art1 game art2"
    ". restart .";
 
  height: 100vh;
}

@media only screen and (max-width: 1100px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .2fr 1fr .2fr;
    grid-template-areas:
    "title title title"
    "info info info"
    "game game game"
    "art1 restart art2";
  }
}

@media only screen and (max-width: 500px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr 1fr .2fr;
    grid-template-areas:
    "title"
    "info"
    "game"
    "restart";
  }

  .art1, .art2 {
    display: none;
  }
}

.title {
  grid-area: title;
}

.title__style {
  font-size: 3rem;
  text-align: center;
  word-spacing: .1em;
  margin: 0;
}

.info {
  grid-area: info;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 2em;
}

@media only screen and (max-width: 1100px) {
  .info{
    justify-content: space-around;
  }
}

.game {
  grid-area: game;
  display: flex;
  flex-wrap: wrap;
}

.art1 {
  grid-area: art1;
  margin: 2em;
}

.art2 {
  grid-area: art2;
  margin: 2em;
}

.floatRight {
  float: right;
}

.art__style{
  max-height: 12rem;
  max-width: 15rem;
}

.restart {
  grid-area: restart;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
