.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". title ."
    ". info ."
    "art1 game art2"
    ". restart .";
}

@media only screen and (max-width: 900px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    ". title ."
    ". info ."
    ". game ."
    "art1 restart art2";
  }
}

@media only screen and (max-width: 500px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "title"
    "info"
    "game"
    "restart";
  }

  .art1, .art2 {
    display: none;
  }
}

.title {
  grid-area: title;
  background-color: red;
}

.info {
  grid-area: info;
  background-color: green;
}

.game {
  grid-area: game;
  background-color: navy;
}

.art1 {
  grid-area: art1;
  background-color: purple;
}

.art2 {
  grid-area: art2;
  background-color: pink;
}

.restart {
  grid-area: restart;
  background-color: orange;
}
